*{
  padding: 0;
  margin: 0;
  outline: 0;
}

body {
  background-color: #d2d5d6;
}



#card {
  width: 435px;
  margin: 100px auto;
  background-color: #e9edee;
  box-shadow: 0px 7px 18px 0 rgba(0, 0, 0, 0.3);
  height: 500px;
  border-radius: 20px;
  overflow: hidden;
}


#cover{
  height: 155px;
  overflow: hidden;
  position: relative;
}
#cover img {
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translatey(-50%);
}